* {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-text {
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 0;
}

.content {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}