<div ng-include src="'views/partials/ErrorMessage.html'"></div>
<form novalidate name="myForm" autocomplete="off">
	<div class="form-group">
		<input type="text" class="form-control input-lg" placeholder="IBO #" name="userName" ng-model="user.name" required autofocus>
	</div>
	<div class="form-group">
		<input type="password" class="form-control input-lg" placeholder="Password" name="userPassword" ng-model="user.password" required>
	</div>
	<div class="form-group">
		<button class="btn btn-primary btn-block btn-lg" ng-click="submit(myForm)" ng-disabled="myForm.$invalid">Login</button>
	</div>
</form>
