<!--
    This template loads for the 'feed' state (app.js)
-->
<ion-view title="'Menu'">
    <ion-content has-header="true">
        <div class="card" ng-show="message">
            <div class="item item-text-wrap">
                {{ message }}
            </div>
        </div>
        <div class="list">
            <a class="item item-icon-left" href="#/videos">
                <i class="icon ion-ios7-videocam-outline"></i>
                Videos
            </a>
            <a class="item item-icon-left" href="#/audios">
                <i class="icon ion-ios7-bell-outline"></i>
                MP3s
            </a>
            <a class="item item-icon-left" href="#/messages">
                <i class="icon ion-ios7-chatbubble-outline"></i>
                Messages
            </a>
            <a class="item item-icon-left" href="#/resources">
                <i class="icon ion-ios7-filing-outline"></i>
                Resources
            </a>
            <div class="item item-divider">
                Other
            </div>
            <a class="item item-icon-left" href="#/logout">
                <i class="icon ion-ios7-locked-outline"></i>
                Logout
            </a>
            <a class="item item-icon-left" href="#/public">
                <i class="icon ion-ios7-world-outline"></i>
                Public View
            </a>
        </div>
    </ion-content>
</ion-view>
