<div class="list-group">
    <a href="#/audios" class="list-group-item"><i class="fa fa-music fa-fw"></i> Listen</a>
    <a href="#/videos" class="list-group-item"><i class="fa fa-film fa-fw"></i> Watch</a>
    <a href="#/messages" class="list-group-item"><i class="fa fa-envelope fa-fw"></i> Messages</a>
    <a href="#/resources" class="list-group-item"><i class="fa fa-paperclip fa-fw"></i> Resources</a>
</div>
<div class="list-group">
    <a href="#/logout" class="list-group-item"><i class="fa fa-lock fa-fw"></i> Logout</a>
</div>