<ion-view title="Messages" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons">
    <ion-content has-header="true">
        <div class="card" ng-show="message">
            <div class="item item-text-wrap">
                {{ message }}
            </div>
        </div>
        <div class="list card" ng-repeat="message in messages">

            <div class="item item-text-wrap">
                <h2>{{ message.Author }}</h2>
                <p>{{ message.PostDate }}</p>
            </div>

            <div class="item item-body">
                <p class="message">{{ message.Message }}</p>
            </div>

        </div>

    </ion-content>
</ion-view>
