<ion-view title="video.name">
    <ion-content has-header="true">
        <div class="card" ng-show="message">
            <div class="item item-text-wrap">
                {{ message }}
            </div>
        </div>
        <div class="list card">

            <div class="item item-text-wrap">
                <h2>{{ video.name }}</h2>
                <p>{{ video.author }}</p>
            </div>

            <div class="item item-body">
                <video controls width="100%" ng-src="{{ video.url }}">
                    Video unsupported
                </video>
                <p>{{ video.description }}</p>
            </div>

        </div>
    </ion-content>
</ion-view>
