<div class="list-group">
    <a ng-click="go('/audios')" class="list-group-item"><i class="fa fa-music fa-fw"></i> Listen</a>
    <a ng-click="go('/videos')" class="list-group-item"><i class="fa fa-film fa-fw"></i> Watch</a>
    <a ng-click="go('/messages')" class="list-group-item"><i class="fa fa-envelope fa-fw"></i> Messages</a>
    <a ng-click="go('/resources')" class="list-group-item"><i class="fa fa-paperclip fa-fw"></i> Resources</a>
</div>
<div class="list-group">
    <a ng-click="go('/public')" class="list-group-item"><i class="fa fa-users fa-fw"></i> Public</a>
</div>
<div class="list-group">
    <a ng-click="go('/logout')" class="list-group-item"><i class="fa fa-lock fa-fw"></i> Logout</a>
</div>

<p>
    <strong>x: </strong>{{x}}<br>
    <strong>y: </strong>{{y}}<br>
    <strong>z: </strong>{{z}}
</p>