<!--
    This template loads for the 'home' state (app.js)
-->
<view title="'Brand'">
    <content has-header="true" padding="true">
        <div class="card" ng-show="message">
            <div class="item item-text-wrap">
                {{ message }}
            </div>
        </div>
        <button class="button button-block button-positive" ui-sref="login">
            Sign in
        </button>
        <button class="button button-block button-light" ui-sref="public">
            Public view
        </button>
    </content>
</view>
