<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'Login'">
  <content has-header="true" has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">IBO #</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
      <toggle>Remember Me</toggle>
      <button class="button button-positive button-block">Login</button>
    </div>
  </content>
</view>
