<ion-view title="{{ audio.name }}" left-buttons="leftButtons">
    <ion-content has-header="true">
        <div class="card" ng-show="message">
            <div class="item item-text-wrap">
                {{ message }}
            </div>
        </div>
        <div class="list card">

            <div class="item item-text-wrap">
                <h2>{{ audio.title }}</h2>
                <p>{{ audio.author }}</p>
            </div>

            <div class="item item-body">
                <audio data-player-control="audioPlayer" data-playlist="audioPlaylist" audio-player ng-src="{{ audio.url }}"></audio>
                <button class="button button-block button-stable" ng-click="audioPlayer.playPause()">
                    <span ng-hide="audioPlayer.playing"><i class="icon ion-ios7-play"></i></span>
                    <span ng-show="audioPlayer.playing"><i class="icon ion-ios7-pause"></i></span>
                </button>
                <div class="progress">
                    <div class="time">
                        <small>{{ audioPlayer.formatTime }}</small> / {{ audioPlayer.formatDuration }}
                    </div>
                    <div class="progress-bar">
                        <div class="playing" ng-style="{ width: audioPlayer.currentTime*100/audioPlayer.duration + '%' }"></div>
                    </div>
                </div>
                <p>{{ audio.description }}</p>
            </div>

        </div>
    </ion-content>
</ion-view>
